<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>

        function test(){
            window.location.href="/student/login/?uname=user01&pwd=123456";
        }
    </script>
</head>
<body>
<!--    <input type="button" onclick="test()" value="GET请求">-->
<!--    <a href="/student/login/?uname=user01&pwd=12345">显示登录首页</a>-->
    <form action="/student/login/" method="post">
        {% csrf_token %}
        <p>
            <label>用户名：</label><input type="text" name="uname">
        </p>
        <p>
            <label>密&emsp;码：</label><input type="text" name="pwd">
        </p>
        <p>
            &emsp;&emsp;&emsp;&emsp;<input type="submit" value="登录">
        </p>

    </form>

</body>
</html>