<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table border="1" cellspacing="0" width="500px">
        <tr>
            <th>排序</th>
            <th>编号id</th>
            <th>用户名</th>
            <th>密码</th>
        </tr>
        {% for stu in student_data %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ stu.id }}</td>
                <td>{{ stu.sname }}</td>
                <td>{{ stu.spwd }}</td>
            </tr>
        {% endfor %}

    </table>
</body>
</html>